//colors
$darkBlueTranslucent: rgba(16,31,40,0.3);
$blueTranslucent: rgba(66,93,109,0.4);
$whiteTransucent: rgba(255,255,255,0.2);
$grayTransucent: rgba(243,243,243,0.4);
$red: #e11313;
$darkRed: #e34e4e;
$pink: #f1a6a6;
$white: #ffffff;
$whiteDarker: #eaeaea;
$black: #000000;

//fonts
$fontSize12: 12pt;
$fontSize52: 42px;
$fontSize26: 26px;


// yankee

$redTextCol: #ad0e10;
$hoverBtn: #e11313;
$lightRedCol: #e34e4e;
$lighterRedCol: #f1a6a6;
$textCol: #3d3d3d;
